*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    font-family: "Roboto", sans-serif;
}

.logo {
    font-size: 24px;
    font-weight: 900;
}

.first-container {
    background-color: #1f2937;
    color: #f9faf8;
}

.content-box {
    width: 65vw;
    margin: 0 auto;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    padding-bottom: 0;
}

ul {
    display: flex;
    list-style: none;
    gap: 16px;
    margin: 0;
    padding: 0;
}

li a {
    font-size: 18px;
    text-decoration: none;
    color: #e5e7eb;
}

.presentation {
    display: flex;
    justify-content: space-between;
    padding: 120px 0;
    gap: 12px;
    align-items: center;
}

.box-left {
    display: flex;
    flex-direction: column;
    width: 450px;
    flex-shrink: 1;
}

.box-right {
    display: flex;
}

img {
    max-width: 100%;
}

.main-title {
    font-size: 48px;
    font-weight: 900;
}

.sign-button {
    padding: 4px 24px;
    font-size: 18px;
    margin-top: 10px;
    background: #3882f6;
    border: 2px solid transparent;
    width: 120px;
    border-radius: 6px;
    color: #f9faf8;
}

.sign-button:hover {
    cursor: pointer;
    border: 2px solid #f9faf8;
}

.sub-text {
    font-size: 18px;
    color: #e5e7eb;
}

.second-container {
    background-color: white;
    padding: 56px;
}

.sub-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.information {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

.card-container {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 56px;
}

.card-image {
    border: 4px solid #1f2937;
    width: 250px;
    height: 250px;
    border-radius: 10px;
}

.card-text {
    width: 250px;
    text-align: center;
    margin-top: 10px;
}

.third-container {
    background-color: #E5E7EB;
    display: flex;   
    margin-top: 56px;
}

.quote {
    color: #1f2937;
    font-style: italic;
    font-weight: 300;
    font-size: 36px;
}

.quote-author {
    align-self: flex-end;
    font-size: 30px;
    font-weight: 500;
}

.quote-container {
    padding: 100px 56px;
    display: flex;
    flex-direction: column;
}

.fourth-container {
    background-color: white;
    display: flex;  
    justify-content: center;

}

.call-box {
    display: flex;
    border-radius: 12px;
    justify-content: center;
    width: 70vw;
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 56px;
    background-color: #3882f6;
}

.call-content {
    padding-left: 56px;
    padding-right: 56px;
    display: flex;
    justify-content: space-between;
    flex: 1;
    align-items: center;
}

.call-title {
    font-size: 30px;
    font-weight: 500;
    color: #f9faf8;
}

.call-text {
    font-size: 18px;
    color: #e5e7eb;
}

.call-right button{
    padding: 4px 24px;
    font-size: 18px;
    background: #3882f6;
    border: 2px solid #f9faf8;
    width: 120px;
    border-radius: 6px;
    color: #f9faf8;
}

.call-right button:hover {
    cursor: pointer;
    color: #3882f6;
    background-color: #f9faf8;
    border-color: #3882f6 ;
}

.fifth-container {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    height: 5vh;
    align-items: center;
}

.footer {
    color: #E5E7EB;
}